{% extends "base.html" %}

{% block title %}Page Spécifique - Recherche{% endblock %}

{% block extra_nav %}
<nav class="navbar navbar-expand-md navbar-dark" style="background: linear-gradient(135deg, #2c3e50, #000000);">
  <div class="container">
    <form class="d-flex w-100" method="POST" action="{{ url_for('civ_data_search') }}">
      <div class="input-group w-100">
        <select name="civ" class="form-select rounded-pill me-2" aria-label="Select Player">
          <option selected value='All civs'>All civs</option>
          {% for civ in list_civs %}
            <option value="{{civ }}">{{ civ }}</option>
          {% endfor %}
        </select>
        <select name="team" class="form-select rounded-pill me-2" aria-label="Select Team">
          <option selected value='"Team A"'>All Teams</option>
          {% for team in list_team %}
            <option value="{{ team['team_id'] }}">{{ team_mapping[team['team_id']] }}</option>
          {% endfor %}
        </select>
        <select name="map" class="form-select rounded-pill me-2" aria-label="Select Map">
          <option selected value='"Map played"'>All Maps</option>
          {% for name in list_map %}
            <option value="{{ name['Map played'] }}">{{ name['Map played'] }}</option>
          {% endfor %}
        </select>
        <select name="div" class="form-select rounded-pill me-2" aria-label="Select Division">
          <option selected value='"Division"'>All Divisions</option>
          {% for name in list_div %}
            <option value="{{ name['Division'] }}">{{ name['Division'] }}</option>
          {% endfor %}
        </select>
        <select name="season" class="form-select rounded-pill me-2" aria-label="Select Player">
          <option selected value='"Season"'>All seasons</option>
          {% for name in list_seasons %}
            <option value="{{name['Season'] }}">{{ name['Season'] }}</option>
          {% endfor %}
        </select>

        <!-- Bouton de validation ajouté pour lancer la recherche -->
        <button type="submit" class="btn btn-light rounded-pill ms-2">Search</button>
      </div>
      <div class="form-check form-switch ms-3 d-flex align-items-center">
        <input class="form-check-input me-2" type="checkbox" id="AllCivToggle" 
              name="all_civs_toggle" value="true"
              checked>
        <label class="form-check-label bg-white text-dark px-2 rounded" for="AllCivToggle">
          Show civs without data
        </label>
      </div>
    </form>
  </div>
</nav>
{% endblock %}

{% block content %}

<script>
  document.querySelectorAll('.card').forEach(function(card) {
    card.addEventListener('mouseover', function() {
      this.style.transform = "scale(1.03)";
    });
    card.addEventListener('mouseout', function() {
      this.style.transform = "scale(1)";
    });
  });
</script>
{% endblock %}
