{% extends "base.html" %}

{% block title %}Page Spécifique - Recherche{% endblock %}

{% block extra_nav %}
<nav class="navbar navbar-expand-md navbar-dark" style="background: linear-gradient(135deg, #2c3e50, #000000);">
  <div class="container">
    <form class="d-flex w-100" method="POST" action="{{ url_for('civ_data_search') }}">
      <div class="input-group w-100">
        <select name="civ" class="form-select rounded-pill me-2" aria-label="Select Player">
          <option selected value='{{selected_civ}}'>{{selected_civ}}</option>
          <option value='All civs'>All civs</option>
          {% for civ in list_civs %}
            <option value="{{civ }}">{{ civ }}</option>
          {% endfor %}
        </select>
        <select name="team" class="form-select rounded-pill me-2" aria-label="Select Team">
          <option selected value='{{selected_team}}'>{{team_mapping[selected_team | int]}}</option>
          <option value='All Teams'>All Teams</option>
          {% for team in list_team %}
            <option value="{{ team['team_id'] }}">{{ team_mapping[team['team_id']] }}</option>
          {% endfor %}
        </select>
        <select name="map" class="form-select rounded-pill me-2" aria-label="Select Map">
          <option selected value='{{selected_map}}'>{{selected_map}}</option> <!--la map sélectionnée apparait 2 fois  car elle est aussi dans la liste des maps -->
          <option value='All Maps'>All Maps</option>
          {% for name in list_map %}
            <option value="{{ name['Map played'] }}">{{ name['Map played'] }}</option>
          {% endfor %}
        </select>
        <select name="div" class="form-select rounded-pill me-2" aria-label="Select Division">
          <option selected value='{{selected_div}}'>{{selected_div}}</option>
          <option value='All Divisions'>All Divisions</option>
          {% for name in list_div %}
            <option value="{{ name['Division'] }}">{{ name['Division'] }}</option>
          {% endfor %}
        </select>
        <select name="season" class="form-select rounded-pill me-2" aria-label="Select Player">
          <option selected value='{{selected_season}}'>{{selected_season}}</option>
          <option value='All Seasons'>All Seasons</option>
          {% for name in list_seasons %}
            <option value="{{ name['Season'] }}">{{ name['Season'] }}</option>
          {% endfor %}
        </select>
        <!-- Bouton de validation ajouté pour lancer la recherche -->
        <button type="submit" class="btn btn-light rounded-pill ms-2">Search</button>
        <!-- Toggle pour sélectionner si on affiche les civs sans données -->
      </div>
      <div class="form-check form-switch ms-3 d-flex align-items-center">
        <input class="form-check-input me-2" type="checkbox" id="AllCivToggle" 
              name="all_civs_toggle" value="true"
              {% if show_all_civs %}checked{% endif %}>
        <label class="form-check-label bg-white text-dark px-2 rounded" for="AllCivToggle">
          Show civs without pick or ban
        </label>
      </div>
    </form>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="container">
  <h1 class="text-center display-4 text-white mb-5" style="text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">Civ data </h1>
    </div>
  <!-- Affichage des résultats de la recherche ou des games -->
      
    <div class="progress">  
        <div class="progress-bar bg-success" role="progressbar" style="width: 40%" >Win Rate</div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" >Lose Rate</div>
        <div class="progress-bar" role="progressbar" style="width: 20%; background-color: rgb(90, 90, 90)">Data Error</div>
    </div>
    <div class="progress mb-4">
        <div class="progress-bar" role="progressbar" style="width: 25% ; background-color: rgb(0, 114, 195)">Pick Rate Ally Team</div>
        <div class="progress-bar" role="progressbar" style="width: 25% ; background-color: rgb(0, 62, 113)" >Ban Rate Ally Team</div>
        <div class="progress-bar" role="progressbar" style="width: 25% ; background-color: rgb(149, 92, 169)">Pick Rate Enemy Team</div>
        <div class="progress-bar" role="progressbar" style="width: 25% ; background-color: rgb(96, 58, 108)" >Ban Rate Enemy Team</div>
      </div>
    {% for civ in civ_data %}
      <!-- Affichage que les civ avec des données si le bouton est cliqué -->
      {% if show_all_civs or civ_data[civ]['pick'] != 0 or  civ_data[civ]['ban_rate'] != 0 %} 
      <div class="row">
            <div class="col-2">
                <div class="container-fluid">
                    <img class="img-fluid" alt="{{ civ }}" src="{{ url_civ[civ]}}" />
                </div>
            </div>
            <div class="col-4">
              <div class="container-fluid">
                <div class="card bg-dark text-white mb-5 shadow" style="border: 1px solid #ffffff;">
                  <div class="card-body">
                    <p class="card-text">
                      <strong>Win rate on {{civ_data[civ]['pick']}} games: {{ civ_data[civ]['win_rate'] }}% <br></strong>
                      <strong>Pick rate on {{total_game}} games: {{ civ_data[civ]['pick_rate'] }}% ban rate : {{ civ_data[civ]['ban_rate'] }}% <br></strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ civ_data[civ]['win_rate'] }}%" aria-valuenow="{{ civ_data[civ]['win_rate'] }}" aria-valuemin="0" aria-valuemax="100" title="Win rate: {{ civ_data[civ]['win_rate'] }}"> {{ civ_data[civ]['win_rate'] }}%</div>
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ civ_data[civ]['lose_rate'] }}%" aria-valuenow="{{ civ_data[civ]['lose_rate'] }}" aria-valuemin="0" aria-valuemax="100" title="Lose rate: {{ civ_data[civ]['lose_rate'] }}">{{ civ_data[civ]['lose_rate'] }}%</div>
                <div class="progress-bar" role="progressbar" style="width: {{ civ_data[civ]['error_rate'] }}%;background-color: rgb(90, 90, 90)" aria-valuenow="{{ civ_data[civ]['error_rate'] }}" aria-valuemin="0" aria-valuemax="100" title="Error rate: {{ civ_data[civ]['error_rate'] }}">{{ civ_data[civ]['error_rate'] }}% </div>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ civ_data[civ]['pick_rate'] }}% ; background-color: rgb(0, 114, 195)" aria-valuenow="{{ civ_data[civ]['pick_rate'] }}" aria-valuemin="0" aria-valuemax="100"  title="Pick rate: {{ civ_data[civ]['pick_rate'] }}"> {{ civ_data[civ]['pick_rate'] }}%</div>
                <div class="progress-bar" role="progressbar" style="width: {{ civ_data[civ]['ban_rate'] }}% ; background-color: rgb(0, 62, 113)" aria-valuenow="{{ civ_data[civ]['ban_rate'] }}" aria-valuemin="0" aria-valuemax="100" title="Ban rate: {{ civ_data[civ]['ban_rate'] }}">{{ civ_data[civ]['ban_rate'] }}%</div>
                <div class="progress-bar" role="progressbar" style="width: {{ civ_data[civ]['pick_rate_enemy_team'] }}% ; background-color: rgb(149, 92, 169)" aria-valuenow="{{ civ_data[civ]['pick_rate_enemy_team'] }}" aria-valuemin="0" aria-valuemax="100" title="Pick rate enemy team: {{ civ_data[civ]['pick_rate_enemy_team'] }}">{{ civ_data[civ]['pick_rate_enemy_team'] }}%</div>
                <div class="progress-bar" role="progressbar" style="width: {{ civ_data[civ]['ban_rate_enemy_team'] }}% ; background-color: rgb(96, 58, 108)" aria-valuenow="{{ civ_data[civ]['ban_rate_enemy_team'] }}" aria-valuemin="0" aria-valuemax="100" title="Ban rate enemy team: {{ civ_data[civ]['ban_rate_enemy_team'] }}">{{ civ_data[civ]['ban_rate_enemy_team'] }}%</div>
              </div>
            </div>
      </div>

      {% endif %}
    {% endfor %}

<script>
  document.querySelectorAll('.card').forEach(function(card) {
    card.addEventListener('mouseover', function() {
      this.style.transform = "scale(1.03)";
    });
    card.addEventListener('mouseout', function() {
      this.style.transform = "scale(1)";
    });
  });
</script>
{% endblock %}
