{% extends 'base.html' %}

{% block content %}
<div style="background-color: rgba(0, 0, 0, 0.5); padding: 1rem;">
    <!-- Section Maps (Bans et Map jouée) -->
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-5">
                <div class="container-fluid">
                    <div class="row justify-content-start">
                        <div class="col-sm-3">
                            <img class="img-fluid" alt="{{ game['Map ban1'] }}" title="{{ game['Map ban1'] }}" src="{{ url_map[game['Map ban1']] }}" />
                        </div>
                        <div class="col-sm-3">
                            <img class="img-fluid" alt="{{ game['Map ban2'] }}" title="{{ game['Map ban2'] }}" src="{{ url_map[game['Map ban2']] }}" />
                        </div>
                        <div class="col-sm-3">
                            <img class="img-fluid" alt="{{ game['Map ban3'] }}" title="{{ game['Map ban3'] }}" src="{{ url_map[game['Map ban3']] }}" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="row justify-content-end">
                    <div class="col-10">
                        <img class="img-fluid" alt="{{ game['Map played'] }}" title="{{ game['Map played'] }}" src="{{ url_map[game['Map played']] }}" />
                    </div>
                </div>
            </div>

            <div class="col-5">
                <div class="container-fluid">
                    <div class="row justify-content-end">
                        <div class="col-sm-3">
                            <img class="img-fluid" alt="{{ game['Map ban4'] }}" title="{{ game['Map ban4'] }}" src="{{ url_map[game['Map ban4']] }}" />
                        </div>
                        <div class="col-sm-3">
                            <img class="img-fluid" alt="{{ game['Map ban5'] }}" title="{{ game['Map ban5'] }}" src="{{ url_map[game['Map ban5']] }}" />
                        </div>
                        <div class="col-sm-3">
                            <img class="img-fluid" alt="{{ game['Map ban6'] }}" title="{{ game['Map ban6'] }}" src="{{ url_map[game['Map ban6']] }}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Bans de civilisations -->
    <div class="container text-center my-3">
        <div class="row justify-content-between">
            <div class="col-5">
                <div class="container-fluid">
                    <div class="row justify-content-start">
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban1'] }}" src="{{ url_civ[game['Ban1']] }}" title="Ban 1" />
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban3'] }}" src="{{ url_civ[game['Ban3']] }}" title="Ban 3" />
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban5'] }}" src="{{ url_civ[game['Ban5']] }}" title="Ban 5" />
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban7'] }}" src="{{ url_civ[game['Ban7']] }}" title="Ban 7" />
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban9'] }}" src="{{ url_civ[game['Ban9']] }}" title="Ban 9" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="text-box" style="font-weight: bold;">
                    Ban phase 1
                </div>
            </div>
            <div class="col-5">
                <div class="container-fluid">
                    <div class="row justify-content-end">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban2'] }}" src="{{ url_civ[game['Ban2']] }}" title="Ban 2" />
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban4'] }}" src="{{ url_civ[game['Ban4']] }}" title="Ban 4" />
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban6'] }}" src="{{ url_civ[game['Ban6']] }}" title="Ban 6" />
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban8'] }}" src="{{ url_civ[game['Ban8']] }}" title="Ban 8" />
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban10'] }}" src="{{ url_civ[game['Ban10']] }}" title="Ban 10" />
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Équipes -->
        <div class="container text-center my-3">
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('team_details', team_name=game['Team A']) }}"
                       style="text-decoration: none; color: {{ 'green' if game['Team A'].strip() == game['Winner'].strip() else 'red' }};">
                        {{ game['Team A'] }}
                    </a>
                </div>
                <div class="col">
                    <span style="font-weight: bold;">VS</span>
                </div>
                <div class="col">
                    <a href="{{ url_for('team_details', team_name=game['Team B']) }}"
                       style="text-decoration: none; color: {{ 'green' if game['Team B'].strip() == game['Winner'].strip() else 'red' }};">
                        {{ game['Team B'] }}
                    </a>
                </div>
            </div>
        </div>

        <!-- Section Picks -->
        <div class="row justify-content-between my-3">
            <div class="col-5">
                <div class="container-fluid">
                    <div class="row justify-content-between">
                        <div class="col-sm-4">
                            <img class="img-fluid" alt="{{ game['PickA1'] }}" src="{{ url_civ[game['PickA1']] }}" />
                            <span class="text-player">
                                <a href="{{ url_for('player_details', player_name=game['PlayerA1']) }}"
                                   style="text-decoration: none; color: inherit;">
                                    {{ game['PlayerA1'] }}
                                </a>
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-fluid" alt="{{ game['PickA2'] }}" src="{{ url_civ[game['PickA2']] }}" />
                            <span class="text-player">
                                <a href="{{ url_for('player_details', player_name=game['PlayerA2']) }}"
                                   style="text-decoration: none; color: inherit;">
                                    {{ game['PlayerA2'] }}
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="text-box" style="font-weight: bold;">
                    Pick phase 1
                </div>
            </div>
            <div class="col-5">
                <div class="container-fluid">
                    <div class="row justify-content-between">
                        <div class="col-sm-4">
                            <img class="img-fluid" alt="{{ game['PickB1'] }}" src="{{ url_civ[game['PickB1']] }}" />
                            <span class="text-player">
                                <a href="{{ url_for('player_details', player_name=game['PlayerB1']) }}"
                                   style="text-decoration: none; color: inherit;">
                                    {{ game['PlayerB1'] }}
                                </a>
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-fluid" alt="{{ game['PickB2'] }}" src="{{ url_civ[game['PickB2']] }}" />
                            <span class="text-player">
                                <a href="{{ url_for('player_details', player_name=game['PlayerB2']) }}"
                                   style="text-decoration: none; color: inherit;">
                                    {{ game['PlayerB2'] }}
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Second Pick Phase -->
        <div class="row justify-content-between my-3">
            <div class="col-5">
                <div class="container-fluid">
                    <div class="row justify-content-end">
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban11'] }}" src="{{ url_civ[game['Ban11']] }}" title="Ban 11" />
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban13'] }}" src="{{ url_civ[game['Ban13']] }}" title="Ban 13" />
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="text-box" style="font-weight: bold;">
                    Ban phase 2
                </div>
            </div>
            <div class="col-5">
                <div class="container-fluid">
                    <div class="row justify-content-start">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban12'] }}" src="{{ url_civ[game['Ban12']] }}" title="Ban 12" />
                        </div>
                        <div class="col-sm-2">
                            <img class="img-fluid" alt="{{ game['Ban14'] }}" src="{{ url_civ[game['Ban14']] }}" title="Ban 14" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Second Pick Phase -->
        <div class="row justify-content-between my-3">
            <div class="col-5">
                <div class="container-fluid">
                    <div class="row justify-content-between">
                        <div class="col-sm-4">
                            <img class="img-fluid" alt="{{ game['PickA3'] }}" src="{{ url_civ[game['PickA3']] }}" />
                            <span class="text-player">
                                <a href="{{ url_for('player_details', player_name=game['PlayerA3']) }}"
                                   style="text-decoration: none; color: inherit;">
                                    {{ game['PlayerA3'] }}
                                </a>
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-fluid" alt="{{ game['PickA4'] }}" src="{{ url_civ[game['PickA4']] }}" />
                            <span class="text-player">
                                <a href="{{ url_for('player_details', player_name=game['PlayerA4']) }}"
                                   style="text-decoration: none; color: inherit;">
                                    {{ game['PlayerA4'] }}
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="text-box" style="font-weight: bold;">
                    Pick phase 2
                </div>
            </div>
            <div class="col-5">
                <div class="container-fluid">
                    <div class="row justify-content-between">
                        <div class="col-sm-4">
                            <img class="img-fluid" alt="{{ game['PickB3'] }}" src="{{ url_civ[game['PickB3']] }}" />
                            <span class="text-player">
                                <a href="{{ url_for('player_details', player_name=game['PlayerB3']) }}"
                                   style="text-decoration: none; color: inherit;">
                                    {{ game['PlayerB3'] }}
                                </a>
                            </span>
                        </div>
                        <div class="col-sm-4">
                            <img class="img-fluid" alt="{{ game['PickB4'] }}" src="{{ url_civ[game['PickB4']] }}" />
                            <span class="text-player">
                                <a href="{{ url_for('player_details', player_name=game['PlayerB4']) }}"
                                   style="text-decoration: none; color: inherit;">
                                    {{ game['PlayerB4'] }}
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
