{% extends 'base.html' %}

{% block extra_nav %}
<nav class="navbar navbar-expand-md navbar-dark" style="background: linear-gradient(135deg, #2c3e50, #000000);">
  <div class="container">
    <form class="d-flex w-100" method="POST" action="{{ url_for('search') }}">
      <div class="input-group w-100">
        <select name="team" class="form-select rounded-pill me-2" aria-label="Select Team">
          <option selected value="None">All Teams</option>
          {% for name in list_team %}
            <option value="{{ name['Team A'] }}">{{ name['Team A'] }}</option>
          {% endfor %}
        </select>
        <select name="map" class="form-select rounded-pill me-2" aria-label="Select Map">
          <option selected value="None">All Maps</option>
          {% for name in list_map %}
            <option value="{{ name['Map played'] }}">{{ name['Map played'] }}</option>
          {% endfor %}
        </select>
        <select name="div" class="form-select rounded-pill me-2" aria-label="Select Division">
          <option selected value="None">All Divisions</option>
          {% for name in list_div %}
            <option value="{{ name['Division'] }}">{{ name['Division'] }}</option>
          {% endfor %}
        </select>
        <!-- Bouton de validation ajouté pour lancer la recherche -->
        <button type="submit" class="btn btn-light rounded-pill ms-2">Search</button>
      </div>
    </form>
  </div>
</nav>
{% endblock %}

{% block content %}
    {% for game in games %}
        {% if game['Winner'] == game['Team A'] %}
            <a  href="{{ url_for('game', game_id=game['id']) }}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1" style="background-color: rgba(0, 255, 0, 0.5)">
                            <span class="text-team"> {{ game['Team A'] }} </span>
                        </div>
                        <div class="col-md-1" style="background-color: rgba(0, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickA1'] }}" src="{{ url_civ[game['PickA1']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(0, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickA2'] }}" src="{{ url_civ[game['PickA2']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(0, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickA3'] }}" src="{{ url_civ[game['PickA3']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(0, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickA4'] }}" src="{{ url_civ[game['PickA4']] }}" />
                        </div>
                        <div class="col-md-1">
                            <img class="img-fluid" title="{{ game['Map played'] }}" alt="{{ game['Map played'] }}" src="{{ url_map[game['Map played']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 0, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickB1'] }}" src="{{ url_civ[game['PickB1']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 0, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickB2'] }}" src="{{ url_civ[game['PickB2']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 0, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickB3'] }}" src="{{ url_civ[game['PickB3']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 0, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickB4'] }}" src="{{ url_civ[game['PickB4']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 0, 0, 0.5)">
                            <span class="text-team"> {{ game['Team B'] }} </span>
                        </div>
                        <div class="col-md-1" >
                            <span class="text-team"> {{ game['Date'] }} </span>
                        </div>
                    </div>
                </div>

            </a>
        {% elif game['Winner'] == game['Team B'] %}
            <a href="{{ url_for('game', game_id=game['id']) }}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1" style="background-color: rgba(255, 0, 0, 0.5)">
                            <span class="text-team"> {{ game['Team A'] }} </span>
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 0, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickA1'] }}" src="{{ url_civ[game['PickA1']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 0, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickA2'] }}" src="{{ url_civ[game['PickA2']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 0, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickA3'] }}" src="{{ url_civ[game['PickA3']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 0, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickA4'] }}" src="{{ url_civ[game['PickA4']] }}" />
                        </div>
                        <div class="col-md-1">
                            <img class="img-fluid" title="{{ game['Map played'] }}" alt="{{ game['Map played'] }}" src="{{ url_map[game['Map played']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(0, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickB1'] }}" src="{{ url_civ[game['PickB1']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(0, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickB2'] }}" src="{{ url_civ[game['PickB2']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(0, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickB3'] }}" src="{{url_civ[game['PickB3']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(0, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickB4'] }}" src="{{ url_civ[game['PickB4']]}}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(0, 255, 0, 0.5)">
                            <span class="text-team">  {{ game['Team B'] }} </span>
                        </div>
                        <div class="col-md-1" >
                            <span class="text-team"> {{ game['Date'] }} </span>
                        </div>
                    </div>
                </div>
            </a>
        {% else %}
            <a href="{{ url_for('game', game_id=game['id']) }}">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1" style="background-color: rgba(255, 255, 0, 0.5)">
                            <span class="text-team"> {{ game['Team A'] }} </span>
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickA1'] }}" src="{{  url_civ[game['PickA1']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickA2'] }}" src="{{  url_civ[game['PickA2']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickA3'] }}" src="{{  url_civ[game['PickA3']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickA4'] }}" src="{{  url_civ[game['PickA4']] }}" />
                        </div>
                        <div class="col-md-1">
                            <img class="img-fluid" title="{{ game['Map played'] }}" alt="{{ game['Map played'] }}" src="{{  url_map[game['Map played']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickB1'] }}" src="{{  url_civ[game['PickB1']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickB2'] }}" src="{{  url_civ[game['PickB2']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickB3'] }}" src="{{  url_civ[game['PickB3']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 255, 0, 0.5)">
                            <img class="img-fluid" alt="{{ game['PickB4'] }}" src="{{  url_civ[game['PickB4']] }}" />
                        </div>
                        <div class="col-md-1" style="background-color: rgba(255, 255, 0, 0.5)">
                            <span class="text-team"> {{ game['Team B'] }} </span>
                        </div>
                        <div class="col-md-1" >
                            <span class="text-team"> {{ game['Date'] }} </span>
                        </div>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}