{% extends 'base.html' %}

{% block title %}Players{% endblock %}

{% block content %}
<div class="container my-5">
  <h1 class="mb-4 text-center">Liste des joueurs</h1>
  <div class="row">
    {% for player in players %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm" style="border: 2px solid #FFDAB9; background-color: #FFF8F0;">
        <div class="card-header" style="background-color: #FFDAB9;">
          <h5 class="card-title mb-0 text-center">{{ player['pseudo'] }}</h5>
        </div>
        <div class="card-body text-center">
          <a href="{{ url_for('player_details', player_name=player['pseudo']) }}" class="btn btn-outline-dark">
            Voir les détails
          </a>
        </div>
      </div>
    </div>
    {% else %}
    <div class="col-12">
      <div class="alert alert-warning text-center" role="alert">
        Aucun joueur trouvé.
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
