{% extends 'base.html' %}

{% block title %}Player Details - {{ player.pseudo }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4">{{ player.pseudo }} - Details</h1>
  <div class="mb-3">
    <strong>Team:</strong>  <a href="{{ url_for('team_details', team_name=player.team) }}">
    {{ player.team }}
  </a><br>
    <strong>Total Games:</strong> {{ player.total_games }}
  </div>

  <div class="row mb-4">
    <!-- Graphique Winrate -->
    <div class="col-md-4">
      <h2>Winrate</h2>
      <canvas id="winrateChart" width="200" height="200"></canvas>
    </div>
  <div class="col-md-8">
  <h2>Match History</h2>
  <div id="matchContainer" style="max-height: 400px; overflow-y: auto;">
    {% if player.matches %}
      <ul class="list-group">
        {% for match in player.matches|reverse %}
          {% if match.result == 'win' %}
            <li class="list-group-item" style="background-color: #d4edda;">
              <a href="{{ url_for('team_details', team_name=match.opponent) }}" style="text-decoration: none; color: inherit;">
                {{ match.opponent }}
              </a>
              game du : 
              <a href="{{ url_for('game', game_id=match.id) }}" style="text-decoration: none; color: inherit;">
                {{ match.date }}
              </a>
            </li>
          {% else %}
            <li class="list-group-item" style="background-color: #f8d7da;">
              <a href="{{ url_for('team_details', team_name=match.opponent) }}" style="text-decoration: none; color: inherit;">
                {{ match.opponent }}
              </a>
              game du : 
              <a href="{{ url_for('game', game_id=match.id) }}" style="text-decoration: none; color: inherit;">
                {{ match.date }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <p>No matches recorded.</p>
    {% endif %}
  </div>
</div>

  </div>

  <h2>Civilizations Played</h2>
  {% if player.civilizations %}
  <div class="row">
    {% for civ, count in player.civilizations.items() %}
      <div class="col-sm-3 col-md-2 mb-3">
        <div class="card h-100 text-center" style="background-color: #FFDAB9;">
          <img class="card-img-top" src="{{ url_civ[civ] }}" alt="{{ civ }}" title="{{ civ }}" style="height: 80px; object-fit: contain;">
          <div class="card-body p-2">
            <h6 class="card-title mb-1">{{ civ }}</h6>
            <p class="card-text small">{{ count }} fois</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% else %}
    <p>No civilization data.</p>
  {% endif %}

  <h2>Maps Played</h2>
  {% if player.maps %}
  <div class="row">
    {% for map, count in player.maps.items() %}
      <div class="col-sm-3 col-md-2 mb-3">
        <div class="card h-100 text-center" style="background-color: #FFDAB9;">
          <img class="card-img-top" src="{{ url_map[map] }}" alt="{{ map }}" title="{{ map }}" style="height: 80px; object-fit: contain;">
          <div class="card-body p-2">
            <h6 class="card-title mb-1">{{ map }}</h6>
            <p class="card-text small">{{ count }} fois</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% else %}
    <p>No map data.</p>
  {% endif %}
</div>

<!-- Intégration de Chart.js pour le graphique en camembert -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var ctx = document.getElementById('winrateChart').getContext('2d');
  var winrateChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['Wins', 'Losses'],
          datasets: [{
              data: [{{ player.wins }}, {{ player.total_games - player.wins }}],
              backgroundColor: ['green', 'red']
          }]
      },
      options: {
          responsive: false,
          plugins: {
              legend: {
                  display: false
              },
              tooltip: {
                  callbacks: {
                      label: function(context) {
                          var label = context.label || '';
                          var value = context.parsed;
                          return label + ': ' + value;
                      }
                  }
              }
          }
      }
  });
</script>
{% endblock %}
